<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Расписание поездов</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/menu.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/table.css"/>


</head>
<body>
<header>
    <nav>
        <ul>
            <li><a class='active' href={{ url_for("index") }}>Редактор знаний</a></li>
            <li><a href={{ url_for("data_editor") }}>Редактор данных</a></li>
            <li><a href={{ url_for("problem_solver") }}>Решатель задач</a></li>
        </ul>
    </nav>
</header>
<div>
    <h2>База городов:</h2>
    <form>
        <label for="city">Город:</label>
        <input type="text" id="city" name="city" required>
        <input type="submit" class="button" id="addCity" name='addCity' value="Добавить">
        <input type="submit" class="button" id="delCity" name='delCity' value="Удалить">
    </form>

    <div class="container">
        <table class="fixed-table">
            <thead>
            <tr>
                <th>Города</th>
            </tr>
            </thead>
            <tbody>
            {% for city in cities %}
                <tr>
                    <td>{{ city }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

</div>
<div>
    <h2>База маршрутов:</h2>

    <form>
        <label for="departure">Место отправления:</label>
        <input type="text" id="departure" name="departure" required>
        <label for="arrival">Место прибытия:</label>
        <input type="text" id="arrival" name="arrival" required>
        <label for="distance">Дальность поездки:</label>
        <input style="width: 80px;" type="number" min=0 id="distance" name="distance" required>
        <input type="submit" class="button" id="addRoute" name='addRoute' value="Добавить">
        <input type="submit" class="button" id="delRoute" name='delRoute' value="Удалить">
    </form>

    <div class="container">
        <table class="fixed-table">
            <thead>
            <tr>
                <th>Место отправления</th>
                <th>Место прибытия</th>
                <th>Дальность поездки</th>
            </tr>
            </thead>
            <tbody>
            {% for route in routes %}
                <tr>
                    <td>{{ route.start_city }}</td>
                    <td>{{ route.end_city }}</td>
                    <td>{{ route.distance }} км</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

</div>
<div>
    <h2>База типов поезда:</h2>

    <form>
        <label for="trainType">Тип поезда:</label>
        <input style="width: 150px;" type="text" id="trainType" name="trainType" required>
        <label for="speed">Скорость движения:</label>
        <input style="width: 80px;margin-right: 0;" type="number" min=0 id="speedFrom" name="speedFrom" required>
        <input style="width: 80px;" type="number" min=0 id="speedTo" name="speedTo" required>
        <label for="range">Дальность следования:</label>
        <input style="width: 80px;margin-right: 0;" type="number" min=0 id="rangeFrom" name="rangeFrom" required>
        <input style="width: 80px;" type="number" min=0 id="rangeTo" name="rangeTo" required>
        <input type="submit" class="button" id="addTrainType" name='addTrainType' value="Добавить">
        <input type="submit" class="button" id="delTrainType" name='delTrainType' value="Удалить">

    </form>

    <div class="container">
        <table class="fixed-table">
            <thead>
            <tr>
                <th>Тип поезда</th>
                <th>Скорость движения</th>
                <th>Дальность следования</th>
            </tr>
            </thead>
            <tbody>
            {% for train_type in train_types %}
                <tr>
                    <td>{{ train_type.train_type_name }}</td>
                    <td>{{ train_type.train_speed_min }} - {{ train_type.train_speed_max }} км/ч</td>
                    <td>{{ train_type.train_distance_min }} - {{ train_type.train_distance_max }} км</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<form style="all: unset;">
    <input style="float: right; color: white; background-color: darkred; margin-bottom: 10px;" type="submit"
           class="button" name="refill" value="Перезаполнить">
</form>
</body>
</html>